################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BZVForm/bin/Release/BZVForm.pdb
